body, html {
    margin: 5px;
}

#map{
    height: 100%;
    width: 100%;
}

.grid-stack {
    background: none; /* lightgoldenrodyellow;*/
}

.grid-stack-item-content {
    color: #2c3e50;
    border: solid lightgrey 2px;
    /* text-align: center; */
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.row {
    padding: 5px 19px;
}

.row > div {
    padding: 0px;
    text-align: center;
}

[class*="col-"] {
    margin: 0px 0px;
    padding: 0px;
}

.inner-div {
    border: 2px solid #DDD; /* as same as body background */
    background: #FFF;
    padding: 0px;
    /*outline: 1px dotted #dadada;*/
    /*outline-offset: -10px;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.title-bar {
    padding: 3px;
    background: #f0f0f0;
}

.graph-title {
    font: 16px sans-serif;
    text-anchor: start;
    text-align: left;
    color: #988;
}

.cameraimg {
    display: block;
    margin: auto;
    /* margin-top: 10px; */
}


.graph-title.highlight {
    color: #522;
}

.announcer {
    /*height: 50px;*/
    line-height: 40px;
    vertical-align: middle;
    font-size: 16px;
    color: white;
    opacity: 0.7;
}

a {
    color:#BAA;
    text-decoration: none;
}

a:hover {
    color:#F00;
    text-decoration: none;
}

a.x {
    color:#FFF;
    cursor:pointer;
    text-decoration: none;
}

a.x:hover {
    color:#FAB;
    text-decoration: none;
}


select {
    padding-left: 1.0em;
    /* font-size: 12px; */
    border: 0;
    outline: none;
    border-radius: 0px;
    background: none;
    background: #f0f0f0 url(imgs/br_down_tiny_x.png) no-repeat left;
    /* background-size: 10px 10px; */
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    /* -webkit-box-shadow: 0 1px 0 #ccc;
    -moz-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc; */
    cursor:pointer;
}

/* icons floating to the left */

.iconlink {
    color:#AAA;
    position: relative;
    top: 0px;
    cursor:pointer;
}

.iconlink.highlight {
    color: #F00;
}

.iconlink.right {
    padding: 2px;
    float: right;
    right: 5px
}

.iconlink.hide { display: none; }

.iconlink:hover { color:#F60; }

/* axes  */

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #444;
    shape-rendering: crispEdges;
    stroke-width: 0.5px;
}

.x.axis path {
    display: none;
}

/* area chart */

.area {
    fill: steelblue;
}

/* bar chart */
.bar {
    fill: #74c476;
}

.bar:hover {
    fill: #31a354;
}

.bar.active {
    fill: #FAA;
}

.banner {
    color: #999;
}
.banner:hover {
    color: #F55;
}


#menu, #menu ul {
    list-style: none;     /* no bullets */
    margin: 0px;
    padding: 0px;
}

#menu ul {
    position: absolute;   /* submenu beneath main menu */
    top: auto;
    z-index:100;
}

#menu ul ul {
    position: absolute;
    z-index: 500;
}

#menu li {
    margin-left: 0px;
    padding: 5px 5px;        /* rectangle bounding box */
    margin: 0px;
    display: block;
    float: left;
}

#menu a {
    display: block;           /* show main menu */
    text-decoration: none;    /* no underlines */
    color: #56392c;           /* original color on main and sub manu, echo header */
    /* padding: 5px 15px;        /* rectangle bounding box */ */
    margin: 0px;
    /* height: 16px; */
    /* border-bottom: 1px solid #C0C0C0; */
}

#menu li a {
    /* border-right: 2px solid #C0C0C0; */
}

#menu li.end a, li .end a {
    border-right: 0px solid #FFC0C0;
}

#menu li li {
    padding: 2px 5px;        /* rectangle bounding box */
    margin: 0px;
    /* border: 1px solid #C0C0C0; */
}
#menu li li a {
    /* padding: 10px 0px;        /* rectangle bounding box */ */
    margin: 0px;
    /* border: 1px solid #C0C0C0; */
}
#menu li a:hover {
    color: #990000;   /* font color when hover on main menu */
}
#menu li li a:hover {
    color: #990000;   /* change font color when hover on submenu -- if needed */
}

#menu li {
    /* background-color: #EFECEC; */
}
#menu li.menusel a, li .menusel a {                   /* selected/current menu item */
    /* background-color: #CFC7C7; */
    color: #990000;
}

#menu ul, menu li:hover ul {
    background-color: #EFECEC;
    display: none;        /* submenu hidden at first */
}

#menu li:hover ul, menu ul li:hover ul, menu ul ul li:hover ul {
    display: block;     /* display submenu */
}

/* fixed width of submenu */
#menu li li {
    width: 200px;
}

/* IE fixes? */
#menu li li {
    float: left;
    clear: both;
}
#menu li li a {
    height: 1%;
}









/* line chart */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* air quality line highlight */
.line.aq_highlight {
    stroke: red;
    stroke-width: 3;
}


/* pie chart */
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}


/* hoverline for cogo */
.hover-line-cogo {
    stroke: #9f9;
    fill: none;
    stroke-width: 2px;
    left: 10px;
    shape-rendering: crispEdges;
    /*opacity: 1e-6;*/
}

/* hoverline for histogram */
.hover-line-histo {
    stroke: #f99;
    fill: none;
    stroke-width: 2px;
    left: 10px;
    shape-rendering: crispEdges;
    /*opacity: 1e-6;*/
}

/* hoverline for tweets */
.hover-line-tweets {
    stroke: #f99;
    fill: none;
    stroke-width: 2px;
    left: 10px;
    shape-rendering: crispEdges;
    /*opacity: 1e-6;*/
}


.hover-line-cotalocation {
    stroke: #f99;
    fill: none;
    stroke-width: 2px;
    left: 10px;
    shape-rendering: crispEdges;
    /*opacity: 1e-6;*/
}


/* hoverline for gas */

/* .hover-line {
    stroke: #D6D7E8;
    fill: none;
    stroke-width: 1px;
    left: 10px;
    shape-rendering: crispEdges;
    opacity: 1e-6;
}
*/

.hover-text {
    stroke: none;
    font-size: 13px;
    font-weight: normal;
    fill: #000000;
}

.info {
    padding: 2px 3px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow-y: auto;
}
.info h4 {
    margin: 0 0 5px;
    color: #666;
}
.info h5 {
    margin: 0 0 5px;
    color: #777;
}

.leaflet-control-layers {  text-align: left; }

/* Map legend */
.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow-y: auto;
}
.legend h4 {
    margin: 0 0 5px;
    color: #bbb;
}
.legend h5 {
    margin: 0 0 5px;
    color: #755;
}
.legendbox {
    line-height: 20px;
    color: #555;
    width: auto;
}
.legendbox i {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 8px;
    opacity: 0.85;
}
table.info {
    font: 12px Arial, Helvetica, sans-serif;
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

table.info th, td {
    border: 1px solid lightgrey;
    padding: 2px;
}

table.info td.num {
    text-align: right;
}



/* for new trip plots */

.g-line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.g-area {
  fill-opacity: .1;
}

.g-label-value {
  font-weight: 500;
}

.g-label-year, .g-label-value {
    font-size: 10px;
}

.g-overlay {
  fill: none;
  pointer-events: all;
}

.g-axis path,
.g-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.g-y.g-axis line {
  stroke: #fff;
  stroke-dasharray: 2,2;
}

.g-y.g-axis path {
  display: none;
}

/* for gas prices plot */
.dot {
  fill: #66A;
  stroke: #66A;
}

/* highlighting dots in gas prices plot */
.dot.scanned {
  fill: #F99;
  stroke: #855;
}

.gas_highlight {
    fill: #F77;
    stroke: #955;
}

/* help carousel control */
.carousel-inner > .item {
    -webkit-transition: 10s ease-in-out left;
    -moz-transition: 10s ease-in-out left;
    -o-transition: 10s ease-in-out left;
    transition: 10s ease-in-out left;
}

/*remove shading from carousel controls */

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.carousel-indicators {
    bottom:-22px;
    color: grey;
}

.carousel-indicators li {
    display: inline-block;
    width: 5px;
    height: 5px;
    border: none;
    background-color: #656565;
}
.carousel-indicators .active {
    width: 7px;
    height: 7px;
    background-color: #aaa;
}

.carousel-control.left .glyphicon {
    left: 0;
    margin-left: 0;
	color:grey;

}
.carousel-control.right .glyphicon {
    right: 0;
    margin-right: 0;
	color:grey;
}

.modal-header {
    color: grey;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid grey;
}

.modal-footer {
    color: grey;
    padding: 15px;
    text-align: center;
    /*margin-left: 15px;
    margin-right: 15px;*/
    border-top: 0px;
    border-bottom: 0px;
}

/* close button style */
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=45);
    opacity: .5;
}

.carousel-indicators li {
    background: #666;
}

.carousel-indicators .active {
    background: #111;
}

/* OLD STUFF -- delete? */

/* tooltips */
/* .tooltip {
    position: relative;
}
.tooltip > div {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
    width: 300px;

}
.tooltipContent {
    background-color: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
} */
